---
import { Image } from "astro:assets";
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import readingTime from "@/lib/utils/readingTime";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
const { summary_length } = config.settings;
const { posts } = Astro.props;
---

<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
  {
    posts.map((item: any) => (
      <div>
        <div class="card">
          <Image
            class="card-img"
            width={335}
            height={210}
            src={item.data.image}
            alt=""
          />
          <div class="card-content">
            {/* <div class="card-tags space-x-1">
              {item.data.categories.map((category: any) => (
                <a class="tag" href={`/categories/${slugify(category)}`}>
                  {humanize(category)}
                </a>
              ))}
            </div> */}
            <h3 class="h4 card-title">
              <a href={`/blog/${item.slug}`}>{item.data.title}</a>
            </h3>
            <p class="mb-4 text-text">
              {plainify(item.body?.slice(0, Number(summary_length)))}...
            </p>
            <div class="card-footer mt-6 flex space-x-4">
              <span class="inline-flex items-center text-xs text-[#666]">
                {dateFormat(item.data.date)}
              </span>
              <span class="inline-flex items-center text-xs text-[#666]">
                {readingTime(item.body)}
              </span>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>
