---
// src/components/Product.astro
import { Image } from "astro:assets";
const { product } = Astro.props;
---

<div class="product max-w-3xl mx-auto my-12 p-6 border border-gray-200 rounded-lg shadow-lg bg-white">
  <div class="product-image-container mb-8 text-center">
    <Image 
      src={product.image} 
      alt={product.title} 
      class="product-image w-full h-auto max-w-lg mx-auto object-cover rounded-md" 
      width={667} 
      height={498} 
    />
  </div>
  
  <div class="product-details text-center">
    <h1 class="product-title text-3xl font-bold text-gray-900 mb-4">{product.title}</h1>
    <p class="product-description text-gray-700 text-lg mb-6">{product.description}</p>
    
    <p class="product-price text-2xl font-semibold text-green-600 mb-8">
      {product.price ? `$${product.price}` : "Price Not Available"}
    </p>
    
    {product.button_product && product.button_product.enable && (
      <a href={product.button_product.link} class="btn btn-white mt-8">
        {product.button_product.label}
      </a>
    )}
  </div>
</div>
