---
import Base from "@/layouts/Base.astro";
import Shape from "@/components/Shape.astro";
import Experiment from "@/layouts/components/Experiment.astro";
import PageHeader from "@/components/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const experiments = await getEntryBySlug("experiments", "index");
const { our_experiment } = experiments.data;
const page_data = {
  ...experiments.data,
  content: experiments.body,
};
---

<Base
title={experiments.data.title}
meta_title={experiments.data.meta_title}
description={experiments.data.description}
image={experiments.data.image}
>
  <Shape />
  <section class="page-hero py-16">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <Experiment experiments={{ our_experiment }} />
    </div>
  </section>
</Base>